%nav.panel{id: "menu", role: "navigation", style: "display: none;"}
  %ul
    %li
      %i.fa.fa-home
      = link_to t('home'), root_path
    - Post.nav_posts.each do |post|
      %li
        %i.fa.fa-bookmark
        = link_to post.title, post_path(post)
    - Category.listed.each do |category|
      %li
        %i.fa.fa-tag
        = link_to category.name, category_path(category)

    - if Setting.get(:i18n_activated)
      %hr
      - locale_links.each do |link|
        %li
          %i.fa.fa-language
          = link.html_safe