.row
  .col-lg-12
    %h1.page-header
      = t('admin.editing', name: @category.name)
      .pull-right
        = link_to t('admin.view'), category_path(@category), class: "btn btn-default", target: "_blank"

= render 'form'