header.hero-image {
  height: 400px;
}

.single-content {
  a {
    color: $light-blue;
    &:hover {
      color: $light-grey;
    }
  }

  p.meta {
    a {
      color: $light-grey;
    }
  }

  pre {
    border: 0px;
    padding: 0px;
  }
}

.source {
  background-color: #FFCC66;
  padding: 5px;

  a {
    color: #000000;
  }
  a:hover {
    color: #FFFFFF;
  }
}

.view-more {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 0px;
  color: $light-blue;
}

footer.single {
  .category-list {
    padding-right: 20px;
  }
  .user-icon {
    width: 100px;
    height: 100px;
  }
}

nav.panel {
  z-index: 5;
  position: fixed;
  left: -31.2emem;
  width: 31.2emem;
}

.menu-trigger {
  margin-left: 15px;
}