- content_for :hero_image, @post.upload.file.url(:wide_1440)
- content_for :page_title, @post.title
- content_for :meta_tags do
  - description = @post.seo_description.present? ? @post.seo_description : @post.summary
  %meta{name: "description", content: description}
  %meta{name: "keywords", content: @post.seo_tags}
  %meta{property: "og:title", content: @post.title}
  %meta{property: "og:site_name", content: Setting.get(:title)}
  %meta{property: "og:url", content: post_url(@post)}
  %meta{property: "og:description", content: description}
  %meta{property: "og:image", content: @post.upload.file.url(:wide_1440)}
  %meta{property: "og:type", content: "website"}

%main.container
  .row
    .col-xs-12.single-content

      %h1= @post.title
      - if @post.subtitle.present?
        %p.subtitle= @post.subtitle

      ~ parse_body(@post.body)

      = render partial: "common/footer"