.favorite-posts.clearfix.animated.fadeIn
  %section
    - posts.each do |post|
      .post-favorite.col-xs-12.col-sm-6.no-gutter
        %h2= link_to post.title, post_path(post)
        %p= parse_summary(post)
        %p.meta
          = render partial: "common/post_meta", locals: {post: post}