- posts.each do |post|
  %article.post
    .post-preview.col-xs-10.no-gutter
      %h2= link_to post.title, post_path(post)
      %p= parse_summary(post)
      %p.meta
        = render partial: "common/post_meta", locals: {post: post}
    .col-xs-2.no-gutter
      -if post.user.upload.present?
        %img.user-icon.user-1{:alt => post.user.name, :src => post.user.upload.file.url(:square_200)}/