= t('in_category', category: link_to(post.category.name, category_path(post.category))).html_safe
%i.link-spacer
= t('by_name', name: post.user.name)
- if post.published_at.present?
  %i.link-spacer
  = l post.published_at.to_date, format: :long