.row.user-bio
  .col-md-12
    %img.left-user-icon{:alt => user.name, :src => user.upload.file.url(:square_200)}/
    %p= user.snippet.html_safe
    .single-footer
      .social.clearfix
        - if user.twitter.present?
          %a.social-icon{:href => "https://twitter.com/#{user.twitter}", target: "_blank"}
            %i.entypo-twitter
        - if user.linkedin.present?
          %a.social-icon{:href => "https://linkedin.com/profile/view?id=#{user.linkedin}", target: "_blank"}
            %i.entypo-linkedin
        - if user.github.present?
          %a.social-icon{:href => "https://github.com/#{user.github}", target: "_blank"}
            %i.entypo-github